body{
    font-family:sans-serif;
   
}


a{
text-decoration: none;
color: black;
}
header{
display:flex;
 min-height: 70px;
 background-color: rgb(235, 162, 35);
justify-content: space-between;
align-items:center ;
padding: 10px;
}
.logo{
    display:flex;
    align-items: center;
}

.log img{
    height: 50px;
    margin-right: 10px;
}
nav a{
font-weight: 600;
padding-right: 10px;
}

nav a :hover{
    color: rgb(184, 156, 156);
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding:20px 40px;
    border-radius: 20px;
    border: 2px solid rgba(187, 18, 18, 0.5);
    box-shadow:2px 2px 10px rgba(150, 15, 15, 0.5);
color: rgb(144, 16, 16);
background-color: rgb(245, 245, 5);
}

button:hover{
background-color: rgb(0, 0, 0);

}
 
h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

table{
    margin-top: 50px;
    caption-side:bottom ;
}
th{
    background-color: #7fceff;
}
td{
color: rgb(1, 2, 2);

}
tr:hover{
background-color: #a8d2d9;}
caption{
    padding-top: 20px;
    font-style: italic;
}
body{
    background-color: rgb(241, 239, 226);
}
body{
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: cover;
}

